/* Reset cơ bản */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML + Body */
html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1f2937; /* text-gray-800 */
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Root React */
#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: oklch(13% 0.028 261.692);
}
