/* Scroll  */

/* scroll ngang pin */
.ag-horizontal-left-spacer {
  display: none !important;
}

/* scroll ngang */
.ag-body-horizontal-scroll-viewport,
.ag-body-viewport {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
.ag-body-viewport::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
.ag-body-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
.ag-body-viewport::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 8px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover,
.ag-body-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}

[data-theme="dark"] {
  --scroll-thumb: #475569;
  --scroll-thumb-hover: #64748b;
}

[data-theme="light"] {
  --scroll-thumb: #94a3b8; /* slate-400 */
  --scroll-thumb-hover: #64748b; /* slate-500 */
}

.header-priceboard {
  height: 30px !important;
  border-left: 1px solid var(--color-border);
}

.ag-header-cell-resize:after {
  display: none !important;
}

.col-header .ag-header-cell-text {
  font-size: 12px;
  font-weight: 600;
  text-align: center !important;
}

.col-header {
  border-left: 1px solid var(--color-border);
}
