.driver-popover,
.driver-popover * {
  font-family: "Baloo 2", cursive !important;
  font-weight: 600;
  height: max-content;
  max-width: 95vw;
}

.driver-popover.avatar-master,
.driver-popover.avatar-gobil {
  animation: popIn 0.2s ease;
  color: #111827;
  border-radius: 18px;
  padding: 14px 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  border: none;
  font-size: 14px;
  line-height: 1.5;
  min-width: 100px;
}

.driver-popover.avatar-master {
  border: 1px solid blue;
}

.driver-popover.avatar-gobil {
  border: 1px solid green;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ẩn arrow mặc định */
.driver-popover-arrow {
  display: none;
}

/* Title & description */
.driver-popover.avatar-master .driver-popover-title,
.driver-popover.avatar-gobil .driver-popover-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
}

.driver-popover.avatar-master .driver-popover-description,
.driver-popover.avatar-gobil .driver-popover-description {
  opacity: 0.95;
  font-size: 14px;
}

/* Mobile responsive */
@media (max-width: 767px) {
  .driver-popover.avatar-master,
  .driver-popover.avatar-gobil {
    border-radius: 12px;
    padding: 10px 12px;
    max-width: 55vw;
  }

  .driver-popover.avatar-master .driver-popover-title,
  .driver-popover.avatar-gobil .driver-popover-title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .driver-popover.avatar-master .driver-popover-description,
  .driver-popover.avatar-gobil .driver-popover-description {
    font-size: 12px;
  }

  .driver-popover.avatar-master .driver-popover-footer,
  .driver-popover.avatar-gobil .driver-popover-footer {
    margin-top: 6px;
  }

  .driver-popover.avatar-master .driver-popover-footer button,
  .driver-popover.avatar-gobil .driver-popover-footer button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .driver-popover.avatar-master .driver-popover-progress-text,
  .driver-popover.avatar-gobil .driver-popover-progress-text {
    font-size: 11px;
  }
}

/* USER / HR */
.driver-btn-user,
.driver-btn-dev {
  cursor: pointer;
  border: none;
}
.driver-btn-user:hover,
.driver-btn-dev:hover {
  color: green;
}

/* Bảng giá */
#help-priceboard:hover {
  color: #22c55e;
  cursor: pointer;
}
#help-priceboard::after {
  background-color: #22c55e;
}

/* Đặt lệnh */
#help-order:hover {
  color: #f97316;
  cursor: pointer;
}
#help-order::after {
  background-color: #f97316;
}

/* Liên hệ */
#help-contact:hover {
  color: #0ea5e9;
  cursor: pointer;
}
#help-contact::after {
  background-color: #0ea5e9;
}

/* Giới thiệu chức năng */
#help-feature:hover {
  color: #f472b6;
  cursor: pointer;
}

#help-feature::after {
  background-color: #f472b6;
}

/* Công nghệ */
#help-tech:hover {
  color: #f43f5e;
  cursor: pointer;
}
#help-tech::after {
  background-color: #f43f5e;
}
